@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Roboto);
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poiret One', cursive;
}


/*Menu*/

header.cabecera {
    position: fixed;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .2);
    z-index: 200;
}

.mitad1 {
    width: 70%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

li {
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    cursor: pointer;
    transition: .2s;
}

li:hover {
    color: #F72464;
}

.mitad2 {
    width: 30%;
    height: 70px;
}

.logo {
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Inicio*/

.main-container {
    position: absolute;
    background-color: #F5F5F5;
    width: 100%;
    min-height: 100%;
    top: 0px;
    right: 0px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logophone{
    margin-top: 70px;
}

/*objetivos*/

.obj-container {
    width: 100%;
    height: 100%;
}

.titulo {
    width: 100%;
    height: 100px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tittle {
    width: 280px;
    height: 50px;
    border-radius: 4px;
    background-color: #54777D;
    font-size: 1.6em;
    color: rgba(255, 255, 255, .8);
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;

}

.descripcion {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    padding: 60px 0px 60px 0px;
    color: rgba(0, 0, 0, .6);
}

#descripcion {
    width: 60%;
}

.map {
    width: 100%;
    height: 400px;
    background-image: url(../images/map.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #FF5252;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
}

.pin {
    font-size: 3em !important;
}

.colour {
    background-color: #54777D;
    color: #fff;
}

.msgcontent {
    width: 100%;
    height: 500px;
    background-image: url(../images/phone.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}